@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #D9D9E4;
  --panel: #CEC9D7;
  --card: #E5E3EA;
  --card-hover: #DEDCE5;

  --border: #292731;
  --border-soft: rgba(41, 39, 49, 0.17);

  --text: #292731;
  --text-muted: #625F69;
  --text-subtle: #85818D;

  --accent: #766c7f; /*#A7C5C7*/;
  --accent-secondary: #B6A8C2;

  --footer-text: #625F69;

  --grid-line: rgba(41, 39, 49, 0.10);
  --grid-node: rgba(41, 39, 49, 0.17);
}

html,
body,
#root {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  user-select: none;
}

body {
  background: var(--bg);
  color: var(--text);
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}
